@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@900&display=swap');
* {
    background-color:aqua;
}
.title {
    text-align: center;
    font-size: 5rem;
    font-family: 'Grenze Gotisch', cursive;
}

#content {
    margin-left: 2rem;
    margin-right: 2rem;
}

.subject {
    font-size: 2.8rem;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
}

.detail {
    font-size: 1.6rem;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
}
.add {
    font-size: 2.0rem;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
}
footer{
    font-size: 1.1rem;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
}

nav {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

nav a {
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 2rem;
}
p {
    margin: 0.5rem;
    
}